<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server Management System</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>
<body>

<header>
    <div class="container">
        <h1>Server Management System</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('manage_servers') }}">Server Management</a></li>
                <li><a href="{{ url_for('monitoring') }}">Monitoring Platform</a></li>
                <li><a href="{{ url_for('manage_tasks') }}">Task Execution</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>

            </ul>
        </nav>
    </div>
</header>

<section class="welcome-section">
    <div class="container">
        <h2>Welcome to Server Management System</h2>
        <button class="login-button">Login</button>
    </div>
</section>



</body>
</html>
